/* Desktop style */

body {
    background-color: black;
    color: yellow;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: yellow;
    font-weight: bold;
    font-size: 17px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 75px;
}

#data, #data ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#data ul, #data ul{
    margin-bottom: 50px;
}


/* Tablet style */

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    button {
        font-size: 25px;
    }
}

/* Mobile style */
@media (max-width: 600px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }
}